@model List<Lab11_First_MVC_App.Models.TimePerson>;


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Results Page</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Hear are the Persons of Your Persons of the Year:</h1>
    @foreach (var item in Model)
    {
        <h3>@item.Name</h3>
        <h3>@item.Year</h3>
        <h3>@item.Title</h3>
        <h3>@item.Honor</h3>
        <h3>@item.Country</h3>
        <h3>@item.Category</h3>
        <h3>@item.BirthYear</h3>
        <h3>@item.DeathYear</h3>
        <h3>@item.Context</h3>
    }

</body>
</html>