@model List<Lab11_First_MVC_App.Models.TimePerson>;


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Results Page</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Hear are the Persons of Your Persons of the Year:</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Title</th>
            <th>Honor</th>
            <th>Country</th>
            <th>Category</th>
            <th>Birth Year</th>
            <th>Death Year</th>
            <th>Context</th>
        </tr>
  
    
    @foreach (var item in Model)
     {
        <tr>
            <th>@item.Name</th>
            <th>@item.Year</th>
            <th>@item.Title</th>
            <th>@item.Honor</th>
            <th>@item.Country</th>
            <th>@item.Category</th>
            <th>@item.BirthYear</th>
            <th>@item.DeathYear</th>
            <th>@item.Context</th>
        </tr>
     }
     </table>
    
</body>
</html>